@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Nunito+Sans:wght@200&family=Oswald&family=Rubik+Puddles&family=Yuji+Hentaigana+Akari&display=swap");
body {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  text-align: center;
  background-color: rgba(0, 255, 255, 0.4);
}
header {
  border: 2px white transparent;
  background-color: white;
  padding: 10px 10px;
  width: 600px;
  margin: 40px auto;
}
.container {
  background-color: white;
  width: 600px;
  margin: 40px auto;
  /* height:100vh; */
  max-height: max-content;
}
section {
  margin: 15px 15px;
}
ul {
  list-style: none;
}
p {
  font-family: "Rubik Puddles", cursive;
  color: rgb(255, 20, 147);
  letter-spacing: 0.3rem;
}
#intro li:nth-child(even) {
  color: rgb(128, 0, 0);
  font-size: 20px;
}
.currency {
  font-family: "Yuji Hentaigana Akari", cursive;
  font-size: 1.2rem;
  color: rgb(75, 0, 130);
}
@font-face {
  font-family: customMade;
  src: url("./TsukimiRounded-Light.ttf");
}
.coming {
  font-family: customMade;
  color: rgb(0, 128, 0);
  font-size: 1.2rem;
}
